html, body, #maintable {
	height:100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #dfded7;
}
#maintable {
	margin: 0 auto;
	padding: 0px 0px 30px 30px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
#confirmBox {
	background-color:#cccbc4;
}

label, input[type="text"]{
    float:left;
    display:block;
}

label
{
    margin-right: 5px;
}
.field{
    width:100px;
    overflow:auto;
    margin:5px 0px;
}

input[type="checkbox"]
{
    float:left;
    display:block;
}

.changed{
	color:rgb(255,255,255);
    background-color: #C00000;
}