@CHARSET "UTF-8";
#button {

	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
}
#button li {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#button a {
	margin-top: 4px;
	margin-right: 4px;
	float: left;
    background-color: #333;
    clear:both;
	display:block; 
	padding:5px;
	border: none;
	
	font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	color: #ccc;
}
#button a:hover {
	color: #fff;
    background-color: #2580a2;
    text-decoration: none;
}


#stylized{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
}
#stylized li {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	float: left;
	clear:both;
	display:block; 
}


#stylized label{
display:block;
font-weight:bold;
margin-bottom: 5px;

}

#stylized input{
font-size:12px;
background-color: #cccbc4;
border: none;
padding: 5px;
margin-bottom: 10px;
}



#box{
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	

	

}
#box li {
	width: 12em;
	margin: 0;
	float: left;
	margin-right:5px;
	display:block; 

}

#box a {

	
    background: #333;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
}
#box a:hover {
	color: #fff;
    background-color: #2580a2;
    text-decoration: none;
}



#box label{
	color:#FFFFFF;
	display: block;
	font-weight:bold;


}

#box input{
display: block;
margin-right:10px;
margin-top: 5px;
padding:5px;
font-size:12px;
background-color: #cccbc4;
border: none;


}

/*
label {
	display: block;
	margin-right: 5px;
}

.field {
	width: 100px;
	overflow: auto;
	margin: 5px 0px;
	
}


input[type="checkbox"] {
	float: left;
	display: inline;
}

input[type="text"] {
	background-color: #cccbc4;
	display:inline; padding:5px;
	border: none;
}
*/