@import url("common.css");
@import url("grid.css");

html,body,#maintable {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #dfded7;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

#maintable {
	margin: 0 auto;
	padding: 0px 0px 30px 30px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

#maintable td {
	padding: 5px;
}

#toptable {
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 0px 0px 30px 30px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

#toptable td {
	padding: 5px;
	
}

#confirmBox {
	background-color: #cccbc4;
}


#header {
	background-color: #272727;
	height: 200px;
}

#mainView {
	border: #96958f solid 1px;
	border-width: 0px 1px 0px 1px;
}

/*

.changed {
	color: rgb(255, 255, 255);
	background-color: #C00000;
	border: #96958f solid 1px;
	border-bottom-color: #eae9e7;
	border-right-color: #eae9e7;
}

*/
