@CHARSET "UTF-8";
#menu {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
}
#menu li {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	
	border-bottom: 1px solid #dfded7;
	color: #565656;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-shadow: 0px 1px 0px #FFFFFF;
	text-decoration: none;
	font-weight:normal;
}
#menu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	text-shadow: 0px -1px 0px #374683;
	color: #fff;
	padding-bottom: 8px;
}



